body {
  height: 100vh;
  background-color: $color-light-gray;
}
.wrapper {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0px 10px;
  font-family: $font-main;
  font-size: 13px;

  &__daniel {
    @include profileCard;
    background: $color-moderate-violet url('../images/bg-pattern-quotation.svg');
    background-position: 95% 0%;
    background-repeat: no-repeat;
    color: $color-white;
    grid-template-columns: 60px auto;
    grid-template-rows: 20px 20px 40% auto;
    &--image {
      @include grid1213;
      @include profileImage;
      border-color: hsl(263, 55%, 80%);
    }
    &--name {
      @include grid2312;
      font-weight: 600;
      align-self: end;
    }
    &--title {
      @include grid2323;
      font-weight: 500;
      opacity: 50%;
    }
    &--brief {
      @include grid1334;
      font-weight: 600;
      font-size: 18px;
    }
    &--description {
      @include grid1345;
      font-weight: 500;
      opacity: 70%;
    }
  }
  &__jonathan {
    @include profileCard;
    background-color: $color-dark-grayish-blue;
    color: $color-white;
    grid-template-columns: 60px auto;
    grid-template-rows: 20px 20px 35% auto;
    &--image {
      @include profileImage;
      @include grid1213;
      border-color: hsl(217, 19%, 80%);
    }
    &--name {
      @include grid2312;
      font-weight: 600;
      align-self: end;
    }
    &--title {
      @include grid2323;
      font-weight: 500;
      opacity: 50%;
    }
    &--brief {
      @include grid1334;
      font-weight: 600;
      font-size: 18px;
    }
    &--description {
      @include grid1345;
      font-weight: 500;
      opacity: 70%;
    }
  }
  &__jeanette {
    @include profileCard;
    background-color: $color-white;
    grid-template-columns: 60px auto;
    grid-template-rows: 20px 20px 35% auto;
    &--image {
      @include grid1213;
      @include profileImage;
      border-color: $color-white;
    }
    &--name {
      @include grid2312;
      font-weight: 600;
      align-self: end;
    }
    &--title {
      @include grid2323;
      font-weight: 500;
      opacity: 50%;
    }
    &--brief {
      @include grid1334;
      font-weight: 600;
      font-size: 18px;
    }
    &--description {
      @include grid1345;
      font-weight: 500;
      opacity: 70%;
    }
  }
  &__patrick {
    @include profileCard;
    background-color: $color-dark-blackish-blue;
    color: $color-white;
    grid-template-columns: 60px auto;
    grid-template-rows: 20px 20px 40% auto;
    &--image {
      @include grid1213;
      @include profileImage;
      border-color: $color-moderate-violet;
    }
    &--name {
      @include grid2312;
      font-weight: 600;
      align-self: end;
    }
    &--title {
      @include grid2323;
      font-weight: 500;
      opacity: 50%;
    }
    &--brief {
      @include grid1334;
      font-weight: 600;
      font-size: 18px;
    }
    &--description {
      @include grid1345;
      font-weight: 500;
      opacity: 70%;
    }
  }
  &__kira {
    @include profileCard;
    background-color: $color-white;
    grid-template-columns: 60px auto;
    grid-template-rows: 20px 20px 18% auto;
    &--image {
      @include grid1213;
      @include profileImage;
      border-color: $color-white;
    }
    &--name {
      @include grid2312;
      font-weight: 600;
      align-self: end;
    }
    &--title {
      @include grid2323;
      font-weight: 500;
      opacity: 50%;
    }
    &--brief {
      @include grid1334;
      font-weight: 600;
      font-size: 18px;
    }
    &--description {
      @include grid1345;
      font-weight: 500;
      opacity: 70%;
    }
  }
}

@media all and (min-width: 1000px) {
  .wrapper {
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    font-family: $font-main;
    font-size: 13px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    &__daniel {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      margin-top: 20px;
      margin-right: 20px;
      grid-template-rows: 20px 20px 35% auto;
      background-position: 85% 0%;
    }
    &__jonathan {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      margin-top: 20px;
      margin-right: 20px;
    }
    &__jeanette {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    &__patrick {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    &__kira {
      grid-column: 4 / 5;
      grid-row: 1 / 3;
      margin-bottom: 20px;
      grid-template-rows: 20px 20px 20% auto;
    }
  }
}
